node_modules/
.env
.env.*
.wwebjs_cache/
logs/
sessions/
*.log
.DS_Store
.env.local
.env.production
.cache/
coverage/
dist/
build/
.vscode/
.idea/
npm-debug.log*
.sass-cache/
/.nyc_output/
/.parcel-cache/
yarn-error.log